
				

<div class="container-fluid">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6">

			<%=form_tag(searchMovies_path, :remote => true) do%>
				<%= text_field_tag :search, nil, placeholder: "Search for a movie" %>
				<%= submit_tag "Search", class: "btn search-box" %>
			<% end %>
			<br>	  	

			<%= link_to "Previous", searchMovies_path({:page => @movie.page - 1, :search => @movie.search}), :remote => true %>
			<%= link_to "Next", searchMovies_path({:page => @movie.page + 1, :search => @movie.search}), :remote => true %>

			<% @movieList.each do |m| %>
				<div class="row" style="border-style: solid; background-color: lightgray">
					<div class="col-sm-4">
						<div class="row">
							<img src="<%= m[3] %>">
						</div>
						<div class="row">
							Stars go here
						</div>
					</div>
					<div class="col-sm-8">
						<div class="row">
							<div id="title" style="font-size: 1.5em">
								<%= m[0] %>
							</div>
							Release Date: <%= m[1] %>
							<br>
							Genre: 
							<%= " | " %>
							<% m[2].each do |m| %>
								<%= m + " | " %>
							<% end %>
							<br>
							<br>
							<div id="review-link">
								<button type="button" class="btn btn-primary btn-sm review-button">Leave a Review</button>
							</div>
							<div id="review-<%= m[4]%>" style="display: none">
								<%= form_tag reviews_path do %>
									<span id="stars-<%= m[4] %>">
										<button type="button" class="btn btn-default btn-sm">
  											<span class="glyphicon glyphicon-star star one-star"></span>
  											<span class="glyphicon glyphicon-star star two-star"></span>
  											<span class="glyphicon glyphicon-star star three-star"></span>
  											<span class="glyphicon glyphicon-star-empty four-star"></span>
  											<span class="glyphicon glyphicon-star-empty five-star"></span>
  											<br>
										</button>
										<%= hidden_field_tag "score", 3 %>
									</span>
									<br>
									<%= hidden_field_tag "moviedbid", m[4] %>
									<%= text_area_tag "comment", nil, rows: 2, cols: 40 %>
									<br>
									<%= submit_tag "Submit" %>
								<% end %>
							</div>
						</div>

					</div>
				</div>
			<% end %>
			<%= link_to "Previous", searchMovies_path({:page => @movie.page - 1, :search => @movie.search}), :remote => true %>
			<%= link_to "Next", searchMovies_path({:page => @movie.page + 1, :search => @movie.search}), :remote => true %>
		</div>
</div>