<div class="container-fluid">
	<%= render 'shared/settings_sidebar' %>
	<div class="col-sm-9"> 
		<% @reviews.each do |r| %>

			<div class="row review-result"  style="border-top-style: solid;">
				<div class="col-sm-6">
					<%= Movie.find_by(moviedbid: r.moviedbid).title %>
				</div>
				<div class="col-sm-3">
					<% r.score.times do %>
						<span class="glyphicon glyphicon-star star"></span>
					<% end %>
					<% (5-r.score).times do %>
						<span class="glyphicon glyphicon-star-empty"></span>
					<% end %>
				</div>
				<div class="col-sm-3">
					<%= link_to "edit", edit_review_path(r) %>
					<%= link_to "delete", review_path(r), method: :delete, :data => {:confirm => 'Are you sure you want to delete this review?'} %>
					
				</div>
			</div>			
			<div class="row">
				<div class="col-sm-5">
					<%= r.comment == "" ? ("(no comment)") : (r.comment) %>
				</div>
			</div>			

		<% end %>
	</div>
</div>